<ion-content [fullscreen]="true" class="fingerprint">
  <div class="container">
    <ion-text class="title">
      <h2>Biometric Authentication</h2>
    </ion-text>

    <div class="lock-wrapper" (click)="onLockClick()">
      <img
        src="assets/img/locked.svg"
        alt="Locked"
        class="lock-img"
      />
    </div>

    <ion-text class="subtitle">
      <p>Click on <b>LOCK</b> image to start</p>
    </ion-text>

    <ion-text class="secondary" (click)="removeData()">
      <p>Remove biometric data</p>
    </ion-text>
  </div>
</ion-content>
