[text-color="card-battery-color1"] {
    background-color: #E3E3E3;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 80%;
    margin-top: 19%;
}

ion-title {
    color: #FF5001;   
   }

   [text-color="battery-color"] {
    color: blue;
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
    color: black;
}
h2 {
    font-size: 15px;
}


[text-color="card-twislock-actions"] {
    background-color: #FF5001;
    text-align: center;
    width: 140%;
    left: -30%;
    height: 77%;
    padding-top: -2%;
    margin-top: 4%;
}

.icon-inner, .ionicon, svg {
    display: block;
    height: 112%;
    width: 100%;
    margin-top: 2%;
}

[class="phantom-text"]{
    color: transparent;
    text-align: center;
}