.button-inner {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
}
ion-tabs{

    --ion-background-color:white;
 }


