ion-title {
    color: #FF5001;   
   }

   [text-color="battery-color"] {
    color: blue;
    text-align: center;
}

[text-color="card-battery-color"] {
    background-color: #E3E3E3;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 60%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
    color: black;
}
h2 {
    font-size: 15px;
    text-align: -webkit-center;
}

[text-color="card-twislock-actions"] {
    background-color: #FF5001;
    text-align: center;
    width: 101%;
    left: -15%;
    height: 108%;
    margin-top: -14%;
}

[text-color="card-overload-m2"] {
    background-color: #E3E3E3;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 60%;
}

[text-color="card-overload-m1"] {
    background-color: rgb(214, 10, 10);
    text-align: center;
    width: 110%;
    left: -15%;
    height: 60%;
}

[text-color="card-driving-sensor-on"] {
    background-color: #67e667;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 60%;
}

[text-color="card-driving-sensor-off"] {
    background-color: #E3E3E3;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 60%;
}


[text-color="card-battery-color1"] {
    background-color: #E3E3E3;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 125%;
    margin-top: -28%;
}

[text-color="card-battery-color2"] {
    background-color: #E3E3E3;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 125%;
    margin-top: -28%;
}
[text-color="card-battery-color3"] {
    background-color: #E3E3E3;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 125%;
    margin-top: -28%;
}

[text-color="card-battery-color4"] {
    background-color: #E3E3E3;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 125%;
    margin-top: -28%;
}

[text-color="m1-enabled"] {
    background-color: red;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 60%;
}
[text-color="m1-disabled"] {
    background-color: #E3E3E3;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 60%;
}

[text-color="m2-enabled"] {
    background-color: red;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 60%;
}
[text-color="m2-disabled"] {
    background-color: #E3E3E3;
    text-align: center;
    width: 110%;
    left: -15%;
    height: 60%;
}

[text-color="twislock-actions-h2"] {

    margin-top: -2%;
}

[text-color="test"] {
    height: 125%;
    margin-top: -7%;
}

[class="text-title-button"]{
    text-align: center;
}

[class="phantom-text"]{
    color: transparent;
    text-align: center;
}