<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header> 

<ion-content [fullscreen]="true" class="no-scroll">

  <ion-card >
    <h2 text-center margin-top>PLC GENERAL INFORMATION</h2>
  </ion-card>

    <ion-card >
    <h2 text-center margin-top>INPUTS</h2>
  </ion-card>

  <ion-card >
    <h2 text-center margin-top>OUTPUTS</h2>
  </ion-card>

    <ion-card >
    <h2 text-center margin-top>EXTRA INFORMATION</h2>
  </ion-card>

  <ion-card>
    <h2 text-center margin-top>PROCEDURES</h2>
  </ion-card>

<!-- <ion-grid>
  <ion-row>
    <ion-col>
      <div class="phantom-text">
        phantomText
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col></ion-col>
    <ion-col size="6">
      <img src="../../assets/img/modulo-OHF.png">
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card [routerLink]="['/main/tabs/dashboard/plc-info']" routerDirection="root">
        <h2 text-center margin-top>PLC GENERAL INFORMATION</h2>
      </ion-card>    
    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="phantom-text">
        phantomText
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card [routerLink]="['/main/tabs/dashboard/inputs']" routerDirection="root">
        <h2 text-center margin-top>INPUTS</h2>
      </ion-card>    
    </ion-col>   
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="phantom-text">
        phantomText
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card [routerLink]="['/main/tabs/dashboard/outputs']" routerDirection="root">
        <h2 text-center margin-top>OUTPUTS</h2>
      </ion-card>    
    </ion-col>   
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="phantom-text">
        phantomText
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card [routerLink]="['/main/tabs/dashboard/extra-info']" routerDirection="root">
        <h2 text-center margin-top>EMERGENCY SHUTDOWN</h2>
      </ion-card>    
    </ion-col>   
  </ion-row>  
</ion-grid>   -->


</ion-content>




 