<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header> 

<ion-content [fullscreen]="true" class="no-scroll">
  <ion-card [routerLink]="['/plc-info']">
    <h2 text-center margin-top>PLC GENERAL INFORMATION</h2>
  </ion-card>

    <ion-card [routerLink]="['/inputs']">
    <h2 text-center margin-top>INPUTS</h2>
  </ion-card>

  <ion-card [routerLink]="['/outputs']">
    <h2 text-center margin-top>OUTPUTS</h2>
  </ion-card>

    <ion-card [routerLink]="['/extra-info']">
    <h2 text-center margin-top>EXTRA INFORMATION</h2>
  </ion-card>
</ion-content>




 